<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">



    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}" />

    <div class="section section-light2">
        <div class="container">
           <div class="row">
       
                <main class="col-md-9 maincontent-wrap" role="main">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
                </main>
                
                              <div class="col-md-3 subcontent-wrap">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />
                </div>
            
                
            </div>
            
       
        </div>
    </div>

</f:section>
</html>
