<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <div class="container container-head">
	    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}" />
	</div>


 	<f:render partial="Navigation/Breadcrumb" arguments="{_all}" />


    <div class="section section-default section-sub">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
        </div>
    </div>

</f:section>
</html>
