<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{showFooter}">
    <footer>
        <section class="section footer-section footer-section-content">
            <div class="container">
             
                    <div class="col-sm-2">
                       	<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}" />
                    </div>
                    <div class="col-sm-2">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}" />
                    </div>
                    <div class="col-sm-2">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}" />
                    </div>
                    <div class="col-sm-2">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '13'}" />
                    </div>
                    <div class="col-sm-2">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '14'}" />
                    </div>
                    <div class="col-sm-2">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '15'}" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-small footer-section footer-section-meta">
            <div class="container">
                <f:if condition="{settings.meta.enable}">
                    <!--<div class="frame frame-small default meta">
                        <f:render partial="Navigation/Meta" arguments="{_all}" />
                    </div>-->
                </f:if>
                <f:if condition="{settings.language.enable}">
                    <!--<div class="frame frame-small default language">
                        <f:render partial="Navigation/Language" arguments="{_all}" />
                    </div>-->
                </f:if>
                <f:if condition="{settings.copyright.enable}">
                    <!--<div class="frame frame-small default copyright f_left">
                        2017 Prinzhorn
                        <f:format.html>{settings.copyright.text}</f:format.html>
                    </div>
                    <div class="frame frame-small default copyright f_right">
                    	<f:cObject typoscriptObjectPath="lib.footernavigation" />
                        <f:format.html>{settings.copyright.text}</f:format.html>
                    </div>-->
                    
                </f:if>
       
          		<div class="row">
                    <div class="col-sm-2">
                        <!--<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}" />-->
                        <div id="" class="frame frame-default frame-type-text frame-layout-0 frame-space-before-none frame-space-after-none">
                            <header><h3 class="">Prinzhorn</h3></header>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <!--<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}" />-->
                        <!--<f:format.html>{settings.copyright.text}</f:format.html>-->
                        
                        <div class="footer-section-contact">
                        	<p class="bold">Headquarters PRINZHORN HOLDING GmbH</p>
                            <p>Lemböckgasse 21-25, 1230 Wien, Austria, Tel.: +43 (0) 50118 10140 Mail: welcome-at-prinzhorn.com<BR />
                            Imprint International sites Sitemap</p>
                                                    
                        </div>
                        
                    </div>
                </div>
        	
            </div>
            <div class="container container-nopad">
	            <div id="bottom"></div>
            </div>
    
        </section>
        
    </footer>
</f:if>
</html>
